<div class="flex justify-content-center">
    <img
        style="width: 60px; margin-right: 10px"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1200px-IMDB_Logo_2016.svg.png"
        alt=""
    />
    <form>
        <input
            type="text"
            class="search-input"
            [(ngModel)]="input"
            placeholder="Cerca su IMDb"
            (input)="searchMovie()"
            name="search"
        />
        <button type="submit" class="search-button" (click)="searchMovie()">
            <i class="pi pi-search"></i>
        </button>
    </form>
</div>

<app-list
    *ngIf="isSelected === false && searchResults.length > 0"
    class="p-1"
    [data]="searchResults"
    (sendSelected)="onRecivedSelected($event)"
>
</app-list>

<div class="flex justify-content-center m-6" *ngIf="isSelected">
    <div *ngIf="selectedMovie" class="card-box">
        <div class="text-center">
            <h2>{{ selectedMovie.title }}</h2>
            <p>Anno: {{ selectedMovie.year }}</p>
            <img [src]="selectedMovie.image" alt="{{ selectedMovie.title }}" />
        </div>
        <h6><b>Synopsis:</b></h6>
        <p class="description">{{ selectedMovie.description }}</p>
        <div class="flex justify-content-center">
            <p-button (click)="goToDetail(['#IMDB_ID'])">Vai al film</p-button>
        </div>
    </div>
</div>
