<section class="flex justify-content-between">
    <div>
        <h1>Lorenzo Baratti</h1>
        <h2>da storemanager a web-dev</h2>
    </div>
    <img
        style="width: 33%"
        src="https://contentstatic.techgig.com/photo/88068261/you-dont-need-coding-skills-to-become-web-developer-heres-why.jpg?21764"
        alt=""
    />
    Linkedin link
    <a href="https://www.linkedin.com/in/baratti-lorenzo3/" target="_blank"
        >Link</a
    >
</section>
<app-nav-bar></app-nav-bar>
<section
    pAnimateOnScroll
    enterClass="fadeinleft"
    leaveClass="fadeoutleft"
    class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-500 animation-ease-in-out"
>
    <h2>Skills</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Vue</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Bitbucket</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>VSCode</li>
        <li>Sublime Text</li>
        <li>WebStorm</li>
        <li>IntelliJ</li>
        <li>PyCharm</li>
        <li>Postman</li>
        <li>Insomnia</li>
        <li>Swagger</li>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Zeplin</li>
        <li>Abstract</li>
        <li>Principle</li>
        <li>Marvel</li>
        <li>Flinto</li>
        <li>Origami</li>
        <li>Electron</li>
        <li>React Native</li>
        <li>Flutter</li>
        <li>Swift</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Go</li>
        <li>Ruby</li>
        <li>Scala</li>
        <li>C#</li>
        <li>C++</li>
        <li>C</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>SQL</li>
        <li>PL/SQL</li>
        <li>Transact-SQL</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>SQLite</li>
        <li>Oracle</li>
        <li>SQL Server</li>
    </ul>
</section>
<section
    pAnimateOnScroll
    enterClass="fadeinleft"
    leaveClass="fadeoutleft"
    class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out"
>
    <h2>Skills</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Vue</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Bitbucket</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>VSCode</li>
        <li>Sublime Text</li>
        <li>WebStorm</li>
        <li>IntelliJ</li>
        <li>PyCharm</li>
        <li>Postman</li>
        <li>Insomnia</li>
        <li>Swagger</li>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Zeplin</li>
        <li>Abstract</li>
        <li>Principle</li>
        <li>Marvel</li>
        <li>Flinto</li>
        <li>Origami</li>
        <li>Electron</li>
        <li>React Native</li>
        <li>Flutter</li>
        <li>Swift</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Go</li>
        <li>Ruby</li>
        <li>Scala</li>
        <li>C#</li>
        <li>C++</li>
        <li>C</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>SQL</li>
        <li>PL/SQL</li>
        <li>Transact-SQL</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>SQLite</li>
        <li>Oracle</li>
        <li>SQL Server</li>
    </ul>
</section>
<section
    pAnimateOnScroll
    enterClass="fadeinleft"
    leaveClass="fadeoutleft"
    class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-3000 animation-ease-in-out"
>
    <h2>Skills</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Vue</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Bitbucket</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>VSCode</li>
        <li>Sublime Text</li>
        <li>WebStorm</li>
        <li>IntelliJ</li>
        <li>PyCharm</li>
        <li>Postman</li>
        <li>Insomnia</li>
        <li>Swagger</li>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Zeplin</li>
        <li>Abstract</li>
        <li>Principle</li>
        <li>Marvel</li>
        <li>Flinto</li>
        <li>Origami</li>
        <li>Electron</li>
        <li>React Native</li>
        <li>Flutter</li>
        <li>Swift</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Go</li>
        <li>Ruby</li>
        <li>Scala</li>
        <li>C#</li>
        <li>C++</li>
        <li>C</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>SQL</li>
        <li>PL/SQL</li>
        <li>Transact-SQL</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>SQLite</li>
        <li>Oracle</li>
        <li>SQL Server</li>
    </ul>
</section>
<section
    pAnimateOnScroll
    enterClass="fadeinleft"
    leaveClass="fadeoutleft"
    class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-1000 animation-ease-in-out"
>
    <h2>Skills</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Vue</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Bitbucket</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>VSCode</li>
        <li>Sublime Text</li>
        <li>WebStorm</li>
        <li>IntelliJ</li>
        <li>PyCharm</li>
        <li>Postman</li>
        <li>Insomnia</li>
        <li>Swagger</li>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Zeplin</li>
        <li>Abstract</li>
        <li>Principle</li>
        <li>Marvel</li>
        <li>Flinto</li>
        <li>Origami</li>
        <li>Electron</li>
        <li>React Native</li>
        <li>Flutter</li>
        <li>Swift</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Go</li>
        <li>Ruby</li>
        <li>Scala</li>
        <li>C#</li>
        <li>C++</li>
        <li>C</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>SQL</li>
        <li>PL/SQL</li>
        <li>Transact-SQL</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>SQLite</li>
        <li>Oracle</li>
        <li>SQL Server</li>
    </ul>
</section>
<section
    pAnimateOnScroll
    enterClass="fadeinleft"
    leaveClass="fadeoutleft"
    class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-1000 animation-ease-in-out"
>
    <h2>Skills</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Vue</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Bitbucket</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>VSCode</li>
        <li>Sublime Text</li>
        <li>WebStorm</li>
        <li>IntelliJ</li>
        <li>PyCharm</li>
        <li>Postman</li>
        <li>Insomnia</li>
        <li>Swagger</li>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Zeplin</li>
        <li>Abstract</li>
        <li>Principle</li>
        <li>Marvel</li>
        <li>Flinto</li>
        <li>Origami</li>
        <li>Electron</li>
        <li>React Native</li>
        <li>Flutter</li>
        <li>Swift</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Go</li>
        <li>Ruby</li>
        <li>Scala</li>
        <li>C#</li>
        <li>C++</li>
        <li>C</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>SQL</li>
        <li>PL/SQL</li>
        <li>Transact-SQL</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>SQLite</li>
        <li>Oracle</li>
        <li>SQL Server</li>
    </ul>
</section>
<section
    pAnimateOnScroll
    enterClass="fadeinleft"
    leaveClass="fadeoutleft"
    class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-1000 animation-ease-in-out"
>
    <h2>Skills</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Vue</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>SQL</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Bitbucket</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>VSCode</li>
        <li>Sublime Text</li>
        <li>WebStorm</li>
        <li>IntelliJ</li>
        <li>PyCharm</li>
        <li>Postman</li>
        <li>Insomnia</li>
        <li>Swagger</li>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Zeplin</li>
        <li>Abstract</li>
        <li>Principle</li>
        <li>Marvel</li>
        <li>Flinto</li>
        <li>Origami</li>
        <li>Electron</li>
        <li>React Native</li>
        <li>Flutter</li>
        <li>Swift</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Go</li>
        <li>Ruby</li>
        <li>Scala</li>
        <li>C#</li>
        <li>C++</li>
        <li>C</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>SQL</li>
        <li>PL/SQL</li>
        <li>Transact-SQL</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>SQLite</li>
        <li>Oracle</li>
        <li>SQL Server</li>
    </ul>
</section>
