<section class="flex justify-content-between">
    <div>
        <h1>Lorenzo Baratti</h1>
        <h2>da storemanager a web-dev</h2>
    </div>

    Linkedin link
    <a href="https://www.linkedin.com/in/baratti-lorenzo3/" target="_blank"
        >Link</a
    >
</section>
<div class="my-6">
    <app-nav-bar></app-nav-bar>
</div>
<section class="background-dev">
    <section
        pAnimateOnScroll
        enterClass="fadeinleft"
        leaveClass="fadeoutleft"
        class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card"
        style="margin-bottom: 3rem"
    >
        <div>
            <h2 class="text-center text-primary">Chi sono</h2>
            <p>
                Sono un ragazzo nato e cresciuto nella bassa bresciana a
                Calvisano. Dopo aver conseguito la maturità scientifica, ho
                iniziato a lavorare nel settore del retail, dove ho ricoperto il
                ruolo di storemanager per 5 anni oltre che il ruolo di
                commerciale in parallelo per gli ultimi 2 anni. Durante questo
                periodo ho sviluppato competenze di leadership, gestione del
                personale e organizzazione del lavoro, oltre che alla gestione
                del cliente sia in B2B che B2C. Nel 2023 ho deciso di cambiare
                completamente vita e dedicarmi allo sviluppo web. Ho frequentato
                il corso di formazione per front-end web developer della 24Ore
                Business School di Milano, dove ho appreso le basi dell'HTML,
                CSS, JavaScript e TypeScript. Ho inoltre imparato ad utilizzare
                Angular, Ionic ed Electron. Sono appassionato di tecnologia e mi
                piace imparare nuove cose. Sono in grado di lavorare in team e
                di adattarmi a nuove situazioni.
            </p>
        </div>
    </section>
    <section
        pAnimateOnScroll
        enterClass="fadeinright"
        leaveClass="fadeoutright"
        class="flex box shadow-7 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card"
        style="margin-bottom: 3rem"
    >
        <div>
            <h2 class="text-center text-primary">Le mie passioni</h2>
            <p>
                Sono un appassionato di motori, in particolare di moto! Al
                mometo posseggo una Kawasaki Z750 del 2005. Mi piace viaggiare e
                scoprire nuovi posti, in particolare mi piace la montagna perchè
                è li che si trovano le curve. Sono ovviamente un appassionato di
                tecnologia, ho imparato a riparare diversi dispositivi
                elettronici durante il mio percorso lavorativo e anche grazie
                alla mia curiosità sono stato in grado di assemblare il pc da
                cui lavoro e non solo. Ebbene si perchè la macchina che ho
                assemblato è stata pensata anche per far girare i videogiochi
                più esigenti. Mi piace leggere manga e guardare anime, spero un
                giorno di poter vedere il finale di One Piece.
            </p>
        </div>
    </section>
    <section
        pAnimateOnScroll
        enterClass="fadeinleft"
        leaveClass="fadeoutleft"
        class="box shadow-7 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card"
        style="margin-bottom: 3rem"
    >
        <div class="text-center">
            <h2 class="text-primary">Skills</h2>
            <p>quello che ho imparato durante il corso di formazione:</p>
        </div>
        <div style="width: 100%" class="skills-array">
            <img
                class="skill-logo"
                src="{{ item.url }}"
                alt="logo skill"
                *ngFor="let item of skillsArray"
                (click)="getSkillId(item.id)"
            />
        </div>
        <p-dialog
            header="Header"
            [modal]="true"
            [(visible)]="visible"
            [maximizable]="true"
        >
        </p-dialog>
    </section>
</section>
