<div>
    <h1 class="text-primary">Lorenzo Baratti</h1>
    <h2>dal retail al web development</h2>
</div>
<p-scrollTop
    target="window"
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
></p-scrollTop>
<div class="my-6">
    <app-nav-bar></app-nav-bar>
</div>
<section class="background-dev grid justify-content-center">
    <div
        pAnimateOnScroll
        enterClass="fadeinleft"
        leaveClass="fadeoutleft"
        class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card col-12 md:col-10 lg:col-8"
        style="margin-bottom: 3rem"
    >
        <div>
            <h2 class="text-center text-primary">Chi sono</h2>
            <p>
                Sono originario della Bassa Bresciana, precisamente di
                Calvisano, dove ho trascorso la mia infanzia e adolescenza.
                Negli ultimi 7 anni, ho svolto un ruolo significativo nel
                settore del retail, assumendo le responsabilità di store manager
                per un periodo di 5 anni, affiancato da un ruolo commerciale
                parallelo negli ultimi 2 anni. Durante questa esperienza, ho
                affinato le mie competenze in leadership, gestione del personale
                e organizzazione del lavoro, sviluppando una solida capacità di
                gestione del cliente, sia nel contesto B2B che B2C. Nel 2023, ho
                intrapreso una trasformazione radicale per seguire la mia
                passione: ho deciso di dedicarmi completamente allo sviluppo
                web. Ho compiuto questo passo iscrivendomi al corso di
                formazione per front-end web developer presso la 24Ore Business
                School di Milano. Durante il corso, ho acquisito le competenze
                fondamentali di HTML, CSS, JavaScript e TypeScript, oltre a
                familiarizzare con strumenti come Angular, Ionic ed Electron.
                Attualmente, risiedo nella provincia di Monza, dove continuo a
                coltivare la mia passione per la tecnologia e il web. Sono
                disponibile a intraprendere nuove sfide e a contribuire a
                progetti innovativi nel campo dello sviluppo web, lavorando in
                team.
            </p>
        </div>
    </div>
    <div
        pAnimateOnScroll
        enterClass="fadeinright"
        leaveClass="fadeoutright"
        class="flex box shadow-7 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card col-12 md:col-10 lg:col-8"
        style="margin-bottom: 3rem"
    >
        <div>
            <h2 class="text-center text-primary">Le mie passioni</h2>
            <p>
                Sono un appassionato di motori, con una predilezione speciale
                per le moto. Attualmente possiedo una Kawasaki Z750 del 2005,
                che mi regala emozioni uniche ad ogni viaggio. Amo esplorare
                nuovi luoghi e vivere avventure, ed ho particolare inclinazione
                verso le montagne, dove le curve si fondono con il paesaggio. La
                tecnologia è un'altra delle mie grandi passioni: durante il mio
                percorso lavorativo ho acquisito competenze nella riparazione di
                dispositivi elettronici e ho anche avuto il piacere di
                assemblare il mio PC, un'esperienza che mi ha permesso di
                ottimizzare la macchina per eseguire anche i videogiochi più
                esigenti. Infine, mi appassionano il mondo dei manga e degli
                anime. Spero di assistere un giorno all’epico finale di One
                Piece.
            </p>
        </div>
    </div>
</section>
<section class="grid justify-content-center">
    <div
        pAnimateOnScroll
        enterClass="fadeinleft"
        leaveClass="fadeoutleft"
        class="box shadow-7 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card col-12 md:col-10 lg:col-8"
        style="margin-bottom: 3rem"
    >
        <div class="text-center">
            <h2 class="text-primary">Skills</h2>
            <p>Competenze acquisite durante il corso di formazione:</p>
        </div>
        <div style="width: 100%" class="skills-array">
            <div *ngFor="let item of skillsArray">
                <img
                    class="skill-logo"
                    src="{{ item.url }}"
                    alt="logo skill"
                    (click)="showDialog(item.id)"
                />
                <h5 class="text-center">{{ item.name }}</h5>
            </div>
        </div>
    </div>
</section>
<p-dialog
    [header]="selectedSkill.name"
    *ngIf="selectedSkill"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <p class="m-0">
        {{ selectedSkill.description }}
    </p>
</p-dialog>
