.card-box {
    margin: auto;
    border-radius: 33px;
    max-width: 90%;
    border: 5px solid #eac117;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-box h2 {
    color: #333;
}

.card-box p {
    margin: 10px 0;
    color: #666;
}

.card-box img {
    max-width: 80%;
    border-radius: 8px;
    margin-top: 10px;
}

.card-box .description {
    font-style: italic;
}
