<header>
    <h1 class="text-primary">Figma Workshop</h1>
    <h2>UX/UI design</h2>
</header>
<p-scrollTop
    target="window"
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
></p-scrollTop>
<div class="my-6">
    <app-nav-bar></app-nav-bar>
</div>
<section class="background-dev grid justify-content-center">
    <div
        pAnimateOnScroll
        enterClass="fadeinleft"
        leaveClass="fadeoutleft"
        class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card col-12 md:col-10 lg:col-8"
        style="margin-bottom: 3rem"
    >
        <div>
            <h2 class="text-center text-primary">
                Corso design UX/UI con BSD design
            </h2>
            <p>
                Durante il workshop siamo stati divisi in gruppi e ci è stato
                chiesto di progettare una UI/UX per sito web da mobile che
                rispettase le regole precedentemente spiegate. Il nostro gruppo
                composto da Marco Valerio Torriero e me, ha scelto di progettare
                un sito web di una azienda web-dev dal nome DevGenius.
            </p>
        </div>
    </div>
</section>
<section class="grid justify-content-center">
    <div
        pAnimateOnScroll
        enterClass="fadeinright"
        leaveClass="fadeoutright"
        class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card col-12 md:col-10 lg:col-8"
        style="margin-bottom: 3rem"
    >
        <div>
            <h2 class="text-center text-primary">Processo di design</h2>
            <p-accordion [multiple]="false" [activeIndex]="0">
                <p-accordionTab header="Mappa di navigazione">
                    <div>
                        <p>
                            Una mappa di navigazione nel design UI/UX è una
                            rappresentazione visiva della struttura di un sito
                            web, di un'applicazione o di un'altra interfaccia
                            utente. Serve a mostrare come le diverse pagine o
                            schermate sono collegate tra loro e come gli utenti
                            possono navigare attraverso di esse.
                        </p>
                        <div class="flex justify-content-center">
                            <img
                                class="preview"
                                src="assets/home/mappa navigazione.png"
                                alt="mappa di navigazione"
                                (click)="showDialog()"
                            />
                            <p-dialog
                                [dismissableMask]="true"
                                [closeOnEscape]="true"
                                [(visible)]="visible"
                                [style]="{ width: '90vw' }"
                            >
                                <img
                                    src="assets/home/mappa navigazione.png"
                                    alt="mappa di navigazione"
                                    width="100%"
                                />
                            </p-dialog>
                        </div>
                        <p>
                            La mappa di navigazione è un'importante parte del
                            processo di progettazione dell'esperienza utente
                            (UX) e dell'interfaccia utente (UI) perché aiuta a
                            organizzare e a visualizzare le informazioni in modo
                            chiaro e intuitivo. Nel nostro caso abbiamo optato
                            per un diagramma ad albero, che rappresentasse sia
                            la navigazione, che la mappa dei contenuti.
                        </p>
                        <div class="flex justify-content-center">
                            <img
                                class="preview"
                                src="assets/home/mappa contenuti.png"
                                alt="Mappa dei contenuti"
                                (click)="showDialog()"
                            />
                            <p-dialog
                                [dismissableMask]="true"
                                [closeOnEscape]="true"
                                [(visible)]="visible"
                                [style]="{ width: '90vw' }"
                            >
                                <img
                                    src="assets/home/mappa contenuti.png"
                                    alt="mappa di navigazione"
                                    width="100%"
                                />
                            </p-dialog>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Wireframe">
                    <div>
                        <p>
                            Dopo aver creato una mappa di navigazione e una
                            mappa dei contenuti, io e Marco ci siamo divisi il
                            compito di creare lo scheletro dell'app, chiamato
                            wireframe. Un wireframe è una rappresentazione
                            visiva di un'interfaccia utente, che mostra la
                            struttura e l'organizzazione degli elementi senza
                            dettagli grafici. Questo ci ha permesso di
                            concentrarci sulla disposizione degli elementi e sul
                            flusso dell'interazione. Per rendere il wireframe
                            più realistico, abbiamo studiato le interfacce di
                            diverse società del settore per valutare quale
                            design fosse il migliore dal punto di vista
                            dell'interfaccia utente.
                        </p>
                        <div
                            class="flex flex-wrap gap-4 justify-content-center"
                        >
                            <img
                                *ngFor="let item of imagesWireframe"
                                class="preview"
                                [src]="item.url"
                                alt="wireframe"
                                (click)="showDialog(item.id)"
                            />
                        </div>
                        <p-dialog
                            *ngIf="selectedImage"
                            [dismissableMask]="true"
                            [closeOnEscape]="true"
                            [(visible)]="visible"
                            [style]="{ width: '90vw' }"
                        >
                            <img
                                [src]="selectedImage.url"
                                alt="wireframe"
                                width="100%"
                            />
                        </p-dialog>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Palette">
                    <div>
                        <p>
                            Per scegliere la palette dei colori, abbiamo cercato
                            una combinazione che fosse piacevole esteticamente e
                            che esprimesse il significato del contenuto della
                            pagina web. Tuttavia, il fattore più importante è
                            stato il rapporto calcolato tra il contrasto del
                            testo e lo sfondo, in linea con le linee guida per
                            l'accessibilità web (WCAG). Questo ci ha aiutato a
                            garantire che il nostro design fosse accessibile a
                            tutti, inclusi coloro con disabilità visive.
                        </p>
                        <div
                            class="grid justify-content-center border-round-sm palette-bg"
                        >
                            <div class="col-12 md:col-6 lg:col-3">
                                <div
                                    class="text-center p-3 border-round-sm palette-1"
                                ></div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-3">
                                <div
                                    class="text-center p-3 border-round-sm palette-2"
                                ></div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-3">
                                <div
                                    class="text-center p-3 border-round-sm palette-3"
                                ></div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-3">
                                <div
                                    class="text-center p-3 border-round-sm palette-4"
                                ></div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-3">
                                <div
                                    class="text-center p-3 border-round-sm palette-5"
                                ></div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Prototype">
                    <div>
                        <p>
                            L'insieme di tutti questi processi prende il nome di
                            prototipazione, il cui scopo è quello di creare
                            un'app e testare un'idea in modo rapido ed
                            economico, prima di investire nello sviluppo vero e
                            proprio. Siamo riusciti a definire i flussi di
                            interazione e a realizzare un prototipo in bassa
                            fedeltà dell'interfaccia utente, così da validare
                            funzionalità e contenuti.
                        </p>
                        <div class="flex justify-content-center">
                            <img
                                class="preview"
                                src="assets/home/prototype.png"
                                alt="prototype img"
                                (click)="showDialog()"
                            />
                            <p-dialog
                                [dismissableMask]="true"
                                [closeOnEscape]="true"
                                [(visible)]="visible"
                                [style]="{ width: '90vw' }"
                            >
                                <img
                                    src="assets/home/prototype.png"
                                    alt="prototype img"
                                    width="100%"
                                />
                            </p-dialog>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</section>
<section class="grid justify-content-center">
    <div
        pAnimateOnScroll
        enterClass="fadeinleft"
        leaveClass="fadeoutleft"
        class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card col-12 md:col-10 lg:col-8"
        style="margin-bottom: 3rem"
    >
        <div style="width: 400px">
            <video
                controls
                src="assets/home/video app figma.mp4"
                style="width: 100%; border-radius: 15px"
            ></video>
        </div>
    </div>
</section>
