<header>
    <h1>Figma Workshop</h1>
    <h2>UX/UI design</h2>
</header>

<a href="https://www.figma.com/" target="_blank">Link</a>
<div class="my-6">
    <app-nav-bar></app-nav-bar>
</div>
<section class="background-dev">
    <div
        pAnimateOnScroll
        enterClass="fadeinleft"
        leaveClass="fadeoutleft"
        class="flex box shadow-4 justify-content-center align-items-center border-round animation-duration-2000 animation-ease-in-out glass-card"
        style="margin-bottom: 3rem"
    >
        <div>
            <h2 class="text-center text-primary">
                Titolo corso design azienda non ricordo il nome
            </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Reprehenderit tempore facilis ipsam neque blanditiis quasi
                excepturi aliquid odio officia ea architecto fugiat aspernatur
                aut, reiciendis exercitationem minus? Ex, adipisci. Odio.
            </p>
        </div>
    </div>
</section>
