.recap {
    width: 15px;
    height: 15px;
    background-color: #e2bf4d;
    border: 1px solid black;
}

.filler {
    width: 15px;
    height: 15px;
    background-color: #548871;
    border: 1px solid black;
}
