.recap {
    width: 15px;
    height: 15px;
    background-color: #fff3cd;
    border: 1px solid black;
}

.filler {
    width: 15px;
    height: 15px;
    background-color: #d1e7dd;
    border: 1px solid black;
}
