<h1 class="text-center text-6xl font-bold text-primary">SEARCH BREWERIES</h1>

<div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div>

<!-- input e search per breweries -->
<div class="felx justify-contet-center">
    <div class="flex justify-content-center m-3" [style]="{ height: '30px' }">
        <form>
            <input
                name="searchInput"
                type="text"
                pInputText
                class="form-control"
                [(ngModel)]="searchInput"
                placeholder="Search any Brewery!"
            />
            <p-button
                type="submit"
                (click)="search()"
                style="margin-left: 10px"
            >
                <i class="pi pi-search"> Search </i>
            </p-button>
        </form>
    </div>
</div>

<!-- carosello che si pesca dal getBreweries -->
<div class="card" [style]="{ marginTop: '30px', width: '100%' }">
    <p-carousel
        [value]="onGetBreweries"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="true"
        autoplayInterval="3000"
    >
        <ng-template let-onGetBreweries pTemplate="item">
            <div
                [style]="{ height: '120px' }"
                class="border-1 surface-border border-round m-2 text-center py-2 px-3 relative"
            >
                <div>
                    <img
                        style="border-radius: 50%; width: 80px"
                        src="assets/brewery/Screenshot 2024-02-11 165914.png"
                        alt="Brewery search list"
                    />
                </div>
                <div>
                    <p class="my-1">
                        {{ onGetBreweries.name }}
                    </p>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<!-- tabella risultato ricerca -->
<div class="card">
    <p-table
        [value]="onSearchBreweries"
        [rows]="5"
        [tableStyle]="{ 'min-width': '60rem' }"
        styleClass="p-datatable-striped"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[5, 10, 25]"
        [showCurrentPageReport]="true"
        [paginator]="true"
    >
        <ng-template pTemplate="header">
            <tr>
                <th
                    pSortableColumn="name"
                    style="width: 20%"
                    class="text-primary"
                >
                    Name <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="country"
                    style="width: 20%"
                    class="text-primary"
                >
                    Country <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="state"
                    style="width: 20%"
                    class="text-primary"
                >
                    State <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="city"
                    style="width: 20%"
                    class="text-primary"
                >
                    City <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="type"
                    style="width: 20%"
                    class="text-primary"
                >
                    Type <p-sortIcon field="price"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-onSearchBreweries>
            <tr
                *ngIf="onSearchBreweries.lenght !== 0"
                (click)="showDialog(onSearchBreweries.id)"
            >
                <td>{{ onSearchBreweries.name }}</td>
                <td>{{ onSearchBreweries.country }}</td>
                <td>{{ onSearchBreweries.state }}</td>
                <td>{{ onSearchBreweries.city }}</td>
                <td>{{ onSearchBreweries.type }}</td>
            </tr>
        </ng-template>
    </p-table>
    <!-- bottone di scroll up to top -->
    <p-scrollTop
        target="window"
        styleClass="custom-scrolltop"
        [threshold]="100"
        icon="pi pi-arrow-up"
    ></p-scrollTop>
</div>
<p-dialog
    header="Header"
    [modal]="true"
    [(visible)]="visible"
    [maximizable]="true"
>
</p-dialog>
