<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="my-portfolio/home">
        <img src="assets/home/quel gnaro.png" alt="logo" />
        <span class="title-lorenzo">Lorenzo's Portfolio</span>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>
    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>
</div>
